sa

/*Box-sixing*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/*header styles*/
header {
  display: flex;
  flex-direction: column;
  background-color: tan;
  width: 100%;
  z-index: 50;
  /*make a background
  video*/
}

/*div styles*/
div.navigation {
  background-color: black;
  opacity: 0.7;
  display: flex;
  display: flex;
  justify-content: space-around;
  height: 120px;
  align-items: center;
}

div.navigation li a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}

div.navigation li a:hover {
  color: orange;
  border-top: 2px solid red;
  border-top-style: ;
}

div.navigation nav ul li {
  padding: 0px 10px;
}

div.header {
  height: 600px;
  display: flex;
  align-items: center;
  background-image: url(images/video.webm);
}

div.header h1 {
  font-size: 80pt;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

div.out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 450px;
  padding: 5px;
  background-color: #f5f4f1;
}

section div.out p {
  color: #717172;
  font-size: 15pt;
}

section div.out h2 {
  font-size: 25pt;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  letter-spacing: .1em;
  padding: 0 80px 20px;
  text-transform: uppercase
}

div.tom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

div.empty {
  width: 60%;
  background-position: center;
  background-size: 100%;
}

div.out a:hover {
  color: orange;
}

div.footerempty {
  width: 312px;
  height: 12px;
}

/*section styles*/
section {
  margin: 0px;
}

section.safer {
  display: flex;
  justify-content: flex-end;
  background-position: center;
}

section.graph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 300px;
  font-size: 17pt;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: bold;
}
section.graph a.two {
  padding:40px;
}

section.safer div.empty {
  background-image: url(images/james.jpg);
  width: 60%;
  background-position: center;
  background-size: 100%;
}

section.tono div.empty {
  width:70%;

}

section.tono {
  display: flex;
}

section.tono div.out {
  width:30%;
}

section.tono div.empty {
  background-image: url(images/john.jpg);
}

section.novara {
  display: flex;
}

section.novara div.empty {
  background-image: url(images/bob.jpg);
  width: 70%;
}

section.novara div.out {
  width: 30%;
}

section.jessica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7bf08;
  height: 350px;
  font-size: 25px;
  font-family: Economica;
  line-height: 1.5em;
  color: #171717;
}

section.jessica p:nth-child(1) {
  font-size: 20pt;
  line-height: 1.5em;
  color: #171717;
}

section.jessica h3 {}

section.jessica p:nth-child(3) {
  font-size: 19pt;
  margin: 10px;
  letter-spacing: .1em;
  line-height: 1.3em;
  text-transform: uppercase;
}

section.footerone {
  padding: 100px;
}

section.footertwo {
  padding: 120px;
}

/*nav styles*/
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

article {
  background: lightgrey;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/*Footer styles*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: linen;
  padding: 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #393939;
}

footer a.footerbutton {
  text-decoration: none;
  border-radius: 3px;
  font-family: "peir-bold", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px;
  width: 125px;
  margin: 3px;
  color: white;
  background-color: #1b658a;
}

footer a.footerbutton:hover {
  background: #175575;
}

footer div.social {
  display: flex;
  flex-direction: row;
  width: 50%;
}

footer div.footertop {
  display: flex;
  flex-direction: row-reverse;
}

footer div.social img {
  width: 50px;
  height: 50px;
}

footer div.info {
  color: #fbfbfb
}

/*Img styles*/
img.media {
  margin: 5px;
  width: 20px;
  height: 20px;
}

/*anchor styles*/
a.bob {
  text-decoration: none;
  border-radius: 3px;
  font-family: "peir-bold", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
  background-color: #1b658a;
  padding: 10px;
  font-size: 15pt;
  padding-left: 13px;
  padding-right: 13px;
}

a.bob:hover {
  background-color: #175575;
}

a.two {
  text-decoration: none;
  color: grey;
  font-size: 20pt;
}

a.two:hover {
  color: orange;
}

a.linktopage {
  text-decoration: none;
  Color: orange;
}
